*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 125px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 180px;
    height: 180px;
}
.header__search{
    border: 1px solid rgb(8, 128, 44);
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    
}
.header__search > input{
    padding: 20px;
    border: none;
    border-left: 1px solid #333;
}
